<div id="tree">
  <ul>
    {{#rows}}
      <li id="{{content.id}}" data-children="{{children}}" data-rev="{{content.rev}}">
        <a href="#" class="btn open">+</a>
        <a href="{{link}}" class="name">
        {{content.name}}</a>
        <span>{{content.title}}</span>
        <span>
          <select name="template">
          {{#templates}}
            <option value="{{template}}" {{selected}}>{{name}}</option>
          {{/templates}}
          </select>
        </span>
        <a href="#delete" class="btn danger">Delete</a>
      </li>
    {{/rows}}
  </ul>
</div>
<script src="{{design}}/litApp/litApp.js"></script>
<script>
  var litApp = new $.litApp('{{design}}');
  litApp.admin();
</script>