<table id="tree" class="bordered-table">
  <thead>
	  <tr>
	  	<th>Level</th>
	  	<th>Name</th>
	  	<th>Title</th>
	  	<th>Template</th>
	  </tr>
  </thead>
  {{#rows}}
  <tr id="{{content._id}}" data-path="{{content.metadata.path}}" data-rev="{{content._rev}}">
  	<td>{{level}}</td>
  	<td>
      <a href="{{link}}" target="_blank">
        {{content.name}}
      </a>
    </td>
    <td>
        {{content.title}}
    </td>
    <td>
    	<select name="template">
    	{{#templates}}
    		<option value="{{template}}" {{selected}}>{{name}}</option>
    	{{/templates}}
    	</select>	
    </td>
    <td>
    	<a href="#new" class="label">Add page</a>
    	<a href="#delete" class="label">Delete</a>
    </td>
  </tr>
  {{/rows}}
</table>
<script src="{{design}}/litApp/litApp.js">
</script>
<script>
var litApp = new $.litApp('{{design}}');
litApp.admin();
</script>