<div id="tree">
  <ul>
    {{#rows}}
      <li data-children="{{children}}">
        <a href="#" class="btn open">+</a>
        <a href="#" >
        {{content.name}}</a>
        <span>{{content.title}}</span>
        <span>
          <select>
          {{#templates}}
            <option value="{{template}}" {{selected}}>{{name}}</option>
          {{/templates}}
          </select>
        </span>
      </li>
    {{/rows}}
  </ul>
</div>
<script src="{{design}}/litApp/litApp.js"></script>
<script>
var litApp = new $.litApp('{{design}}');

litApp.admin();
</script>